/*
CORES PADRÂO
4CAF50 -> verde
1e88e5 -> azul
263238 -> preto
ee6e73 -> vermelho materialize
*/

#informacao blockquote{
  background:#f5f5f5;
  text-align: justify;
  }

/* materialize */
.row .col {
    padding: 0 !important;
}

.row .col.s1, .row .col.s2, .row .col.s3, .row .col.s4, .row .col.s5{
    margin-left: 0 !important;
}
